body {
    margin: 0;
    height: 100vh;
}

/* .app-background {
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/866/807/desktop-wallpaper-m-s-dhoni-with-indian-cricket-team-ms-dhoni.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;

} */
