<div class="container mt-5">
    <div class="d-flex justify-content-center mb-4">
        <button *ngIf="canEdit" class="btn btn-primary" (click)="addplayer()">Add Player</button>
    </div>
    <div class="row">
        <div *ngFor="let player of allplayers" class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center">
                        <img [src]="player.imgURL" class="rounded-circle" alt="image" width="130"
                            style="background-color: rgb(175, 238, 238);">
                    </div>
                    <h5 class="card-title mt-3">{{player.name}}</h5>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <img [src]="player.typeURL" alt="Bat" width="30">
                        <p class="ms-2 mb-0">{{player.playertype}}</p>
                    </div>

                    <div class="row mt-3" style="background-color: rgb(188, 186, 186); border-radius: 20px;">
                        <div class="col-6">
                            <p class="mb-0">Age</p>
                            <p class="mb-0">{{player.age}}</p>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">Style</p>
                            <p class="mb-0">{{player.style}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>